$green = #5ee300
$yellow = #ffcc00
$red = #f72b00

$screen-xs = 480px
$screen-sm = 720px
$screen-md = 992px
$screen-lg = 1140px

$to-xs = 'all and (max-width:' + ($screen-xs - 1px)  + ')'
$to-sm = 'all and (max-width:' + ($screen-sm - 1px)  + ')'
$to-md = 'all and (max-width:' + ($screen-md - 1px)  + ')'
$to-lg = 'all and (max-width:' + ($screen-lg - 1px)  + ')'

$from-xs = 'all and (min-width:' + $screen-xs  + ')'
$from-sm = 'all and (min-width:' + $screen-sm  + ')'
$from-md = 'all and (min-width:' + $screen-md  + ')'
$from-lg = 'all and (min-width:' + $screen-lg  + ')'